# Git Large File Storage (LFS) Tracking Configuration
listings.csv.gz filter=lfs diff=lfs merge=lfs -text
dataset.csv filter=lfs diff=lfs merge=lfs -text
*.csv.gz filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
